/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
width: 320px;
height: 520px;
left: 0px;
top: 48px;
overflow-y: scroll;



/* Step 2 */

width: 50px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-decoration-line: underline;

/* Text */
color: #060809;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 15 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 16px;

width: 272px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Home sinister claim */

margin: 0 auto;
width: 197px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

/* Primary */
color: #A91345;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 3/3 */

margin: 0 auto;
width: 23px;
height: 17px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Light */
color: #51626F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* We have pre-filled the needed document below, please review it before sending. */

width: 272px;
height: 60px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;

/* Text */
color: #060809;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 272px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 9 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 160px;
height: 104px;

/* Primary */
border: 1px solid #A91345;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* article */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
width: 24px;
height: 24px;
left: 68px;
top: 26px;

background: #D9D9D9;


/* article */

position: absolute;
left: 44.38%;
right: 44.38%;
top: 27.88%;
bottom: 54.81%;

/* Primary */
background: #A91345;


/* Declaration */

width: 144px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

/* Primary */
color: #A91345;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Review */

width: 57px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;

/* Primary */
color: #A91345;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

display: none;
width: 272px;
height: 108px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Describe your problem */

width: 184px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

/* Text */
color: #060809;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Txt area */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

width: 272px;
height: 80px;

/* Text */
border: 1px solid #060809;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 240px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

/* Light */
color: #51626F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Actions Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 32px 24px;
gap: 16px;

width: 272px;
height: 154px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 208px;
height: 35px;

background: #8A8A8A;
border-radius: 90px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Send doccument */

width: 176px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 208px;
height: 35px;

border-radius: 90px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Save for later */

width: 176px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Primary */
color: #A91345;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Delete claim */

width: 208px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;

/* Primary */
color: #A91345;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

